.contactcard{
  display: flex;
  background-color:rgb(240, 202, 152);
  padding: 10px;
  box-shadow: 10px 10px 25px -16px rgba(0, 0, 0.75);
  border-radius: 10px;
  height: 170px;
  width:350px;
  margin: 30px;
  font-size: 900;
}

.contactcard-img{
  height: 250px;
  width: 50px;
}

.contactcard img{
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.user-details{
  margin-left: 100px;
}

.contactcard p{
  margin-left: 15px;
}

.contactcard h4{
  margin-left: 15px;
}

button {
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: rgb(208, 122, 16);
  box-shadow: 10px 10px 25px -10px rgba(3, 5, 40);
  border-radius: 9px;
  padding: 8px;
  border: none;
}